* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    width: 100%;
    min-height: 100vh;
}

#home {
    width: 100%;
    min-height: 100vh;
}

nav {
    width: 100%;
    padding: 2vw 10vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

nav .left {
    display: flex;
    align-items: center;
}

nav .center {
    display: flex;
    align-items: center;
}

nav .right {
    display: flex;
    align-items: center;
}

nav .center h5{
    margin: 0 0.7vw;
}

nav h5{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8vw;
    position: relative;
    padding: 0.4vw 0.8vw;
    cursor: pointer;
}

nav h5::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1%;
    background-color: #000;
    transition: all 0.3s ease;
}

nav h5:hover::after{
    top: 0;
    height: 100%;
    background-color: #000;
}

nav h5:hover{
    color: #fff;
}

#hero {
    margin-top: 5vw;
    width: 100%;
    height: 110vh;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero .left {
    width: 11vw;
    height: 25vh;
    position: relative;
}

#hero .left h5{
    font-size: 0.85vw;
    font-weight: 500;
    position: absolute;
    bottom: 130%;
}

#hero .left h4{
    font-size: 1vw;
    font-weight: 600;
    position: absolute;
    bottom: 120%;
}

#hero .left p{
    line-height: 1.1;
    font-size: 0.6vw;
    font-weight: 600;
    opacity: .5;
    padding: 0.3vw 0 0.7vw 0;
    position: absolute;
    bottom: 100%;
}

#hero .left .imgwraper{
    width: 75%;
    height: 90%;
    overflow: hidden;
}

#hero .left .imgwraper img{
    width: 100%;
    height: 100%;
}

#hero .center {
    width: 26vw;
    height: 80vh;
    position: relative;
}

#hero .center .toptext{
    position: absolute;
    top: -14%;
    left: -17%;
}

#hero .center .toptext h1{
    font-size: 5vw;
    font-weight: 400;
    line-height: 0.8;
}

#hero .center .imgwraper{
    width: 100%;
    height: 90%;
}

#hero .center .imgwraper img{
    width: 100%;
    height: 100%;
}

#hero .center .btmtext{
    position: absolute;
    top: 94%;
    line-height: 1.5;
    font-size: 1.2vw;
    width: 45%;
    opacity: .7;
}

#hero .right {
    width: 13vw;
    height: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

#hero .right .icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#hero .right .icon i{
    padding: 0.4vw 0.45vw;
    border-radius: 50%;
    border: 0.5px solid #00000083;
    color: #00000083;
    font-size: 1.1vw; 
    transition: all 0.2s ease;
}

#hero .right .icon h5{
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 0.3vw;
    margin-left: 0.5vw;
    color: #00000083;
    transition: all 0.2s ease;
}

#hero .right .icon:hover h5{
    color: #000;
}

#hero .right .icon:hover i{
    color: #000;
}

#motiv {
    padding: 3vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#motiv h5{
    width: 100%;
    padding: 1vw;
    padding-left: 0;
    font-size: 1.5vw;
    font-weight: 700;
    color: #000000af;
    position: relative;
    text-align: left;
    transition: all 0.3s ease;
}

#motiv p{
    margin-top: 2vw;
    line-height: 3.5rem;
    text-align: right;
    font-size: 2vw;
    width: 85%;
}

#motiv span{
    display: inline-block;
    margin: 0 13px;
    margin-bottom: -12.5px;
    border-radius: 50px;
    background-color: #000;
}

#onespan {
    width: 4rem;
    height: 55px;
    background: url(./images/bluegirl.jpg);
    background-size: cover;
    background-position: 0 60%;
    background-repeat: no-repeat;
}

#twospan {
    width: 6rem;
    height: 60px;
    background: url(./images/shaljam.jpg);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

#threespan {
    width: 5rem;
    height: 55px;
    background: url(./images/grass.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#synergy {
    margin-top: 5vw;
    padding: 0 12vw;
    display: flex;
    justify-content: space-between;
}

#synergy .left {
    width: 22%;
    height: 68vh;
}

#synergy .left .imgwaper{
    width: 100%;
    height: 80%;
}

#synergy .left .imgwaper img{
    width: 100%;
    height: 100%;
}

#synergy .left h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin: .8vw 0;
}

#synergy .left p{
    line-height: 1.1;
    width: 85%;
    font-size: 1.1rem;
    opacity: .8;
}

#synergy .right {
    line-height: 1.1;
    width: 33%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#synergy .right .imgwaper{
    width: 100%;
    height: 80%;
}

#synergy .right .imgwaper img{
    width: 100%;
    height: 100%;
}

#synergy .right h3{
    line-height: 1.1;
    font-size: 3rem;
    font-weight: 600;
    margin: 1vw 0;
    text-align: right;
}

#synergy .right p{
    line-height: 1.1;
    width: 70%;
    font-size: 1.2rem;
    opacity: .8;
    text-align: right;
}

#banner {
    margin-top: 5vw;
    width: 100%;
    height: 80vh;
    display: flex;
}

#banner .bimg {
    width: 70%;
    height: 100%;
}

#banner .bimg img{
    width: 100%;
    height: 100%;
}

#banner .btext {
    padding: 2vw;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#banner .btext h3{
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 0.9;
}

#banner .btext p{
    margin-top: 1vw;
    width: 70%;
    font-size: 1.1vw;
    opacity: .8;
}

#future {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#future video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
}

#future .ftext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
}

#future button {
    padding: 1vw 1.4vw;
    font-size: .7vw;
    border: none;
    margin-top: 1vw;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#EFEFEF, #c0c0c0);
    cursor: pointer;
}